.raceDetailsWrapper {
    width: 100%;
    max-width: 1400px;
    margin: 40px auto;
    padding: 40px;
    text-align: center;
}

.raceDetailsWrapper h1 {
    font-size: 28px;
    font-weight: 800;
    color: #0b6d2a;
    margin-bottom: 12px;
}

.raceDetailsWrapper p {
    font-size: 15px;
    color: #444;
    margin: 4px 0;
}